.ipynb_checkpoints
__pycache__
1.png
real_case_data-Copy1.ipynb

synthetic_data-Copy1.ipynb
synthetic_data-Copy2.ipynb
source_code/synthetic_data-Copy4.ipynb
source_code/real_case_data-Copy2.ipynb
source_code/synthetic_data-Copy3.ipynb
source_code/real_case_data-Copy3.ipynb
source_code/real_case_data-Copy4.ipynb


source_code/create_pattern-Copy2.ipynb
source_code/create_pattern-Copy3.ipynb
source_code/create_pattern-Copy4.ipynb
source_code/create_pattern-Copy5.ipynb
source_code/create_pattern-Copy6.ipynb

data_input/2022-02-03_C5_synthetic_dataset/C5_.pkl
data_output/RealField_SGSmoothing_groundtruth.pdf
data_output/illustration_PTA.m
source_code/create_pattern-Copy7.ipynb
source_code/create_pattern-Copy8.ipynb
source_code/create_pattern-Copy9.ipynb
source_code/pattern_recognition.py
source_code/pattern_recognition2.py
source_code/pattern_recognition3.py
source_code/pattern_recognition4.py

source_code/plot2.py
source_code/read_data.ipynb

source_code/real_case_data-Copy5.ipynb
source_code/real_case_data-Copy6.ipynb
source_code/synthetic_data-Copy5.ipynb
source_code/test.py

data_output/buildUp_pattern_recognition_100_10_100_10.pdf
source_code/create_pattern-Copy10.ipynb
source_code/create_pattern-Copy11.ipynb
source_code/create_pattern-Copy1.ipynb
source_code/Untitled.ipynb
source_code/03-cosine_fit2.png

source_code/create_pattern-Copy12.ipynb
source_code/synthetic_data-Copy6.ipynb
data_input
Transient_identification_LejunChen.pptx

data_output/RealField_Denoised_Tangent_degree3_tangentCriterion_40_timestep_1_buildup_whole.pdf 
data_output/RealField_Denoised_Tangent_degree3_tangentCriterion_40_timestep_1_drawdown_whole.pdf
data_output/RealField_Denoised_Tangent/
source_code/class_inheritiance.ipynb

source_code/3_pattern_recognition-Copy1.ipynb
source_code/3_pattern_recognition-Copy2.ipynb
data_output/1------test.pdf
data_output/Pattern_recognition/
data_output/RealField_Denoised_Derivative_Tangent/
data_output/Derivative_Tangent_RealField_Denoised/
patterndRrecognition_N_tangent_method.py


source_code/patternRecognition_method_N_tangent_method.py


data_output/others/
source_code/ignored/

source_code/methods/patternRecognition_method_N_tangent_method.py

data_output/DeltaTangent_N_MFOD_RealField_Denoised/
data_output/PatternRecognition_N_TangentRange_N_MOF_RealField_Denoised/
data_output/PatternRecognition_N_TangentRange_RealField_Denoised/
data_output/TangentRange_N_PatternRecognition_N_MOF_RealField_Denoised/
data_output/TangentRange_N_PatternRecognition_RealField_Denoised/
data_output/DeltaTangent_N_MFOD_N_PatternRecognition_RealField_Denoised/
data_output/MFOD_N_DeltaTangent_RealField_Denoised/

data_output/DeltaTangent_N_MFOD_RealField_Denoised_1/
data_output/PatternRecognition_DeltaTangent_MFOD/
data_output/PatternRecognition_N_DeltaTangent_N_MFOD_N__/
data_output/PatternRecognition_N_DeltaTangent_N_MFOD_N__RealField_Denoised/
data_output/PatternRecognition_N_MFOD_RealField_Denoised/


data_output/PatternRecognition_DeltaTangent_MFOD_RealField_Denoised/
data_output/Statistics_diferent_methods.xlsx
data_output/upload_googleDrive/

data_output/Derivative_method/
data_output/~$Statistics_diferent_methods.xlsx
data_output/1/
data_output/AvgDerivative_N_MFOD/
data_output/deltaTangent_N_MFOD/
source_code/1_derivative_method-Copy1.ipynb
data_output/removed_transients/
source_code/util/data_load_N_preprocess2.py
source_code/6_tangentDelta_N_MFOD-Copy1.ipynb
source_code/store_transients-Copy1.ipynb
data_output/averageDerivative/
data_output/good/
data_output/old/
source_code/MFOD/