.ipynb_checkpoints
__pycache__
1.png

source_code_copy/
ignored/
data_output/
data_input/
Transient_identification_LejunChen.pptx

experiments_jupyterNotebook/histogram--startpoint_flowing-deltaTangent.png
experiments_jupyterNotebook/histogram--startpoint_flowing-first_order_derivative.png
experiments_jupyterNotebook/histogram--startpoint_flowing-tangent_left.png
experiments_jupyterNotebook/histogram--startpoint_shutIn-deltaTangent.png
experiments_jupyterNotebook/histogram--startpoint_shutIn-first_order_derivative.png
experiments_jupyterNotebook/histogram--startpoint_shutIn-tangent_left.png
experiments_jupyterNotebook/histogram--wholeData-deltaTangent.png
experiments_jupyterNotebook/histogram--wholeData-first_order_derivative.png
experiments_jupyterNotebook/histogram--wholeData-tangent_left.png

experiments_jupyterNotebook/6_DeltaTangent_N_FFOD-Copy1.ipynb
experiments_jupyterNotebook/Untitled.ipynb
experiments_jupyterNotebook/Untitled1.ipynb

methods/baseline_method.py
util/store_transients2.py

experiments_jupyterNotebook/2_PatternRecognition_AvgDerivative_FFOD-Copy1.ipynb
patterns.docx
~$tterns.docx

