.ipynb_checkpoints
__pycache__
1.png
real_case_data-Copy1.ipynb

synthetic_data-Copy1.ipynb
synthetic_data-Copy2.ipynb
source_code/real_case_data-Copy2.ipynb
source_code/synthetic_data-Copy3.ipynb
source_code/real_case_data-Copy3.ipynb
source_code/real_case_data-Copy4.ipynb
data_input
Transient_identification_LejunChen.pptx