div.stDataFrame.css-1287gwp.e11ks2pe8 {
  font-size: 0.8rem;
}
section.css-po3vlj.exg6vvm15 {
  font-size: 0.8rem;
}

small.css-1aehpvj.euu6i2w0 {
  font-size: 0.8rem;
}

div.stDataFrame.css-1gzbsyi.e11ks2pe8 {
  font-size: 0.6rem;
}
